bucket: "projet-slums-detection"

sources:
  PLEIADES: Donnees/PLEIADES/Cayenne_200722
  BDTOPO:
    2022:
      guadeloupe: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2022-03-15
      martinique: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2022-03-15
      reunion: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2022-03-15
      guyane: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2022-03-15
      # guyane: Donnees/BDTOPO/BDTOPO_3-3_TOUSTHEMES_SHP_UTM22RGFG95_D973_2022-12-15
      mayotte: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2022-03-15
    2021:
      guadeloupe: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2021-03-15
      martinique: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2021-03-15
      reunion: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2021-03-15
      guyane: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2021-03-15
      mayotte: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2021-03-15
    2020:
      guadeloupe: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2020-06-15
      martinique: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2020-06-15
      reunion: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2020-06-15
      guyane: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2020-06-15
      mayotte: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2020-06-15
    2019:
      guadeloupe: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2019-03-15
      martinique: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2019-03-15
      reunion: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2019-03-15
      guyane: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2019-03-15
      mayotte: Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2019-03-15
    2018:
      guadeloupe: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84GUAD_D971_2018-03-28
      martinique: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84MART_D972_2018-03-28
      reunion: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGR92UTM40S_D974_2018-03-28
      guyane: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM22RGFG95_D973_2018-03-28
      mayotte: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGM04UTM38S_D976_2018-03-28
    2017:
      guadeloupe: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84GUAD_D971_2017-03-30
      martinique: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84MART_D972_2017-03-30
      reunion: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGR92UTM40S_D974_2017-03-30
      guyane: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM22RGFG95_D973_2017-03-30
      mayotte: Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGM04UTM38S_D976_2017-03-30
    2016:
      guadeloupe: Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_UTM20W84GUAD_D971_2016-04-01
      martinique: Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_UTM20W84MART_D972_2016-04-01
      reunion: Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_RGR92UTM40S_D974_2016-04-01
      guyane: Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_UTM22RGFG95_D973_2016-04-01
      mayotte: Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_RGM04UTM38S_D976_2016-04-01
  RIL: Donnees/RIL/ril_data.parquet

local-path:
  PLEIADES: data/PLEIADES/Cayenne
  BDTOPO:
    2022:
      guyane: data/BDTOPO/BDTOPO_guyane_2022
