bucket: "projet-slums-detection"

sources:
  TEST:
    PLEIADES:
      segmentation: donnees-test/segmentation
      change-detection: donnees-test/change_detection
      classification: donnees-test/classification
    SENTINEL1-2: 
      segmentation: donnees-test/SENTINEL/segmentation
      #change-detection: donnees-test/SENTINEL/change_detection
      #classification: donnees-test/SENTINEL/classification
  PAPERS:
    S2Looking: Donnees/PAPERS/S2Looking
    LEVIR_CD: Donnees/PAPERS/LEVIR_CD
  PLEIADES:
      2022:
          "971": Donnees/PLEIADES/GUADELOUPE/2022/MOSA
          "972": Donnees/PLEIADES/MARTINIQUE/2022/MOSA
          "973": Donnees/PLEIADES/Cayenne_200722/16bits/ORT_2022072050325085_U22N
          "974": Donnees/PLEIADES/REUNION/2022/MOSA
          "976": Donnees/PLEIADES/MAYOTTE/2022/MOSA

      2020:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": Donnees/PLEIADES/MAYOTTE/2020/MOSA
      2019:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": Donnees/PLEIADES/MAYOTTE/2019/MOSA
      2018:
          "971": Donnees/PLEIADES/GUADELOUPE/2018-2019
          #"972": NA
          #"973": NA
          "974": Donnees/PLEIADES/REUNION/2018/MOSA
          #"976": NA
      2017:
          #"971": NA
          #"972": Donnees/PLEIADES/MARTINIQUE/2017-2018 structure pb
          #"973": NA
          #"974": NA
          "976": Donnees/PLEIADES/MAYOTTE/2017/MOSA
  NUAGESPLEIADES:
      2022:
          "971": Donnees/NUAGESPLEIADES/2022/GUADELOUPE
          "972": Donnees/NUAGESPLEIADES/2022/MARTINIQUE
          "973": Donnees/NUAGESPLEIADES/2022/GUYANE
          "974": Donnees/NUAGESPLEIADES/2022/REUNION
          "976": Donnees/NUAGESPLEIADES/2022/MAYOTTE

      2020:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": Donnees/NUAGESPLEIADES/2020/MAYOTTE
      2019:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": Donnees/NUAGESPLEIADES/2019/MAYOTTE
      2018:
          #"971": NA
          #"972": NA
          #"973": NA
          "974": Donnees/NUAGESPLEIADES/2018/REUNION
          #"976": NA
      2017:
          #"971": NA
          "972": Donnees/NUAGESPLEIADES/2017/MARTINIQUE
          #"973": NA
          #"974": NA
          "976": Donnees/NUAGESPLEIADES/2017/MAYOTTE

  SENTINEL1:
    2021:
      "971": Donnees/SENTINEL1/GUADELOUPE/TUILES_2021
      "972": Donnees/SENTINEL1/MARTINIQUE/TUILES_2021
      "974": Donnees/SENTINEL1/REUNION/TUILES_2021
      "976": Donnees/SENTINEL1/MAYOTTE/TUILES_2021
    2022:
      "971": Donnees/SENTINEL1/GUADELOUPE/TUILES_2022
      "972": Donnees/SENTINEL1/MARTINIQUE/TUILES_2022
      "974": Donnees/SENTINEL1/REUNION/TUILES_2022
      "976": Donnees/SENTINEL1/MAYOTTE/TUILES_2022

  SENTINEL2:
    2021:
      "971": Donnees/SENTINEL2/GUADELOUPE/TUILES_2021
      "972": Donnees/SENTINEL2/MARTINIQUE/TUILES_2021
      "974": Donnees/SENTINEL2/REUNION/TUILES_2021
      "976": Donnees/SENTINEL2/MAYOTTE/TUILES_2021
    2022:
      "971": Donnees/SENTINEL2/GUADELOUPE/TUILES_2022
      "972": Donnees/SENTINEL2/MARTINIQUE/TUILES_2022
      "974": Donnees/SENTINEL2/REUNION/TUILES_2022
      "973": Donnees/SENTINEL2/GUYANE/TUILES_2022
      "976": Donnees/SENTINEL2/MAYOTTE/TUILES_2022

  BDTOPO:
      2022:
        "971": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2022-03-15/BDTOPO/1_DONNEES_LIVRAISON_2022-03-00081/BDT_3-0_SHP_RGAF09UTM20_D971-ED2022-03-15/BATI
        "972": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2022-03-15/BDTOPO/1_DONNEES_LIVRAISON_2022-03-00081/BDT_3-0_SHP_RGAF09UTM20_D972-ED2022-03-15/BATI
        "974": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2022-03-15/BDTOPO/1_DONNEES_LIVRAISON_2022-03-00081/BDT_3-0_SHP_RGR92UTM40S_D974-ED2022-03-15/BATI
        "973": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2022-03-15/BDTOPO/1_DONNEES_LIVRAISON_2022-03-00081/BDT_3-0_SHP_UTM22RGFG95_D973-ED2022-03-15/BATI
        # "973": Donnees/BDTOPO/BDTOPO_3-3_TOUSTHEMES_SHP_UTM22RGFG95_D973_2022-12-15
        "976": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2022-03-15/BDTOPO/1_DONNEES_LIVRAISON_2022-03-00081/BDT_3-0_SHP_RGM04UTM38S_D976-ED2022-03-15/BATI
      2021:
        "971": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2021-03-15/BDTOPO/1_DONNEES_LIVRAISON_2021-03-00272/BDT_3-0_SHP_RGAF09UTM20_D971-ED2021-03-15/BATI
        "972": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2021-03-15/BDTOPO/1_DONNEES_LIVRAISON_2021-03-00272/BDT_3-0_SHP_RGAF09UTM20_D972-ED2021-03-15/BATI
        "974": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2021-03-15/BDTOPO/1_DONNEES_LIVRAISON_2021-03-00272/BDT_3-0_SHP_RGR92UTM40S_D974-ED2021-03-15/BATI
        "973": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2021-03-15/BDTOPO/1_DONNEES_LIVRAISON_2021-03-00272/BDT_3-0_SHP_UTM22RGFG95_D973-ED2021-03-15/BATI
        "976": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2021-03-15/BDTOPO/1_DONNEES_LIVRAISON_2021-03-00272/BDT_3-0_SHP_RGM04UTM38S_D976-ED2021-03-15/BATI
      2020:
        "971": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2020-06-15/BDTOPO/1_DONNEES_LIVRAISON_2020-06-00047/BDT_3-0_SHP_RGAF09UTM20_D971-ED2020-06-15/BATI
        "972": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2020-06-15/BDTOPO/1_DONNEES_LIVRAISON_2020-06-00047/BDT_3-0_SHP_RGAF09UTM20_D972-ED2020-06-15/BATI
        "974": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2020-06-15/BDTOPO/1_DONNEES_LIVRAISON_2020-06-00047/BDT_3-0_SHP_RGR92UTM40S_D974-ED2020-06-15/BATI
        "973": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2020-06-15/BDTOPO/1_DONNEES_LIVRAISON_2020-06-00047/BDT_3-0_SHP_UTM22RGFG95_D973-ED2020-06-15/BATI
        "976": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2020-06-15/BDTOPO/1_DONNEES_LIVRAISON_2020-06-00047/BDT_3-0_SHP_RGM04UTM38S_D976-ED2020-06-15/BATI
      2019:
        "971": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D971_2019-03-15/BDTOPO/1_DONNEES_LIVRAISON_2020-02-00097/BDT_3-0_SHP_RGAF09UTM20_D971-ED2019-03-15/BATI
        "972": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGAF09UTM20_D972_2019-03-15/BDTOPO/1_DONNEES_LIVRAISON_2020-02-00097/BDT_3-0_SHP_RGAF09UTM20_D972-ED2019-03-15/BATI
        "974": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGR92UTM40S_D974_2019-03-15/BDTOPO/1_DONNEES_LIVRAISON_2020-02-00097/BDT_3-0_SHP_RGR92UTM40S_D974-ED2019-03-15/BATI
        "973": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_UTM22RGFG95_D973_2019-03-15/BDTOPO/1_DONNEES_LIVRAISON_2020-02-00097/BDT_3-0_SHP_UTM22RGFG95_D973-ED2019-03-15/BATI
        "976": Donnees/BDTOPO/BDTOPO_3-0_TOUSTHEMES_SHP_RGM04UTM38S_D976_2019-03-15/BDTOPO/1_DONNEES_LIVRAISON_2020-02-00097/BDT_3-0_SHP_RGM04UTM38S_D976-ED2019-03-15/BATI
      2018: #n'ont pas de fichier BATIMENT.shp mais BATI_INDIFFERENCIE.SHP
        "971": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84GUAD_D971_2018-03-28/BDTOPO/1_DONNEES_LIVRAISON_2018-04-00147/BDT_2-2_SHP_UTM20W84GUAD_D971-ED181/E_BATI
        "972": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84MART_D972_2018-03-28/BDTOPO/1_DONNEES_LIVRAISON_2018-04-00147/BDT_2-2_SHP_UTM20W84MART_D972-ED181/E_BATI
        "974": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGR92UTM40S_D974_2018-03-28/BDTOPO/1_DONNEES_LIVRAISON_2018-04-00147/BDT_2-2_SHP_RGR92UTM40S_D974-ED181/E_BATI
        "973": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM22RGFG95_D973_2018-03-28/BDTOPO/1_DONNEES_LIVRAISON_2018-04-00147/BDT_2-2_SHP_UTM22RGFG95_D973-ED181/E_BATI
        "976": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGM04UTM38S_D976_2018-03-28/BDTOPO/1_DONNEES_LIVRAISON_2018-04-00147/BDT_2-2_SHP_RGM04UTM38S_D976-ED181/E_BATI
      2017: #n'ont pas de fichier BATIMENT.shp mais BATI_INDIFFERENCIE.SHP
        "971": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84GUAD_D971_2017-03-30/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00011/BDT_2-2_SHP_UTM20W84GUAD_D971-ED171/E_BATI
        "972": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM20W84MART_D972_2017-03-30/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00011/BDT_2-2_SHP_UTM20W84MART_D972-ED171/E_BATI
        "974": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGR92UTM40S_D974_2017-03-30/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00011/BDT_2-2_SHP_RGR92UTM40S_D974-ED171/E_BATI
        "973": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_UTM22RGFG95_D973_2017-03-30/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00011/BDT_2-2_SHP_UTM22RGFG95_D973-ED171/E_BATI
        "976": Donnees/BDTOPO/BDTOPO_2-2_TOUSTHEMES_SHP_RGM04UTM38S_D976_2017-03-30/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00011/BDT_2-2_SHP_RGM04UTM38S_D976-ED171/E_BATI
      2016: #n'ont pas de fichier BATIMENT.shp mais BATI_INDIFFERENCIE.SHP
        "971": Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_UTM20W84GUAD_D971_2016-04-01/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00010/BDT_2-1_SHP_UTM20W84GUAD_D971-ED161/E_BATI
        "972": Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_UTM20W84MART_D972_2016-04-01/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00010/BDT_2-1_SHP_UTM20W84MART_D972-ED161/E_BATI
        "974": Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_RGR92UTM40S_D974_2016-04-01/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00010/BDT_2-1_SHP_RGR92UTM40S_D974-ED161/E_BATI
        "973": Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_UTM22RGFG95_D973_2016-04-01/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00010/BDT_2-1_SHP_UTM22RGFG95_D973-ED161/E_BATI
        "976": Donnees/BDTOPO/BDTOPO_2-1_TOUSTHEMES_SHP_RGM04UTM38S_D976_2016-04-01/BDTOPO/1_DONNEES_LIVRAISON_2021-10-00010/BDT_2-1_SHP_RGM04UTM38S_D976-ED161/E_BATI

  RIL: Donnees/RIL/ril_data.parquet
  old_gr:
    "971": Donnees/RIL/old_gr/old_gr_971.geojson
    "972": Donnees/RIL/old_gr/old_gr_972.geojson
    "973": Donnees/RIL/old_gr/old_gr_973.geojson
    "974": Donnees/RIL/old_gr/old_gr_974.geojson
    "976": Donnees/RIL/old_gr/old_gr_976.geojson
    "977": Donnees/RIL/old_gr/old_gr_977.geojson
    "978": Donnees/RIL/old_gr/old_gr_978.geojson
  new_gr:
    "971": Donnees/RIL/new_gr/new_gr_971.geojson
    "972": Donnees/RIL/new_gr/new_gr_972.geojson
    "973": Donnees/RIL/new_gr/new_gr_973.geojson
    "974": Donnees/RIL/new_gr/new_gr_974.geojson
    "976": Donnees/RIL/new_gr/new_gr_976.geojson
    "977": Donnees/RIL/new_gr/new_gr_977.geojson
    "978": Donnees/RIL/new_gr/new_gr_978.geojson

local-path:
  TEST:
    PLEIADES:
      segmentation: donnees-test/segmentation
      change-detection: donnees-test/change_detection
      classification: donnees-test/classification
    SENTINEL1-2: 
      segmentation: donnees-test/SENTINEL/segmentation
      #change-detection: donnees-test/SENTINEL/change_detection
      #classification: donnees-test/SENTINEL/classification

  PAPERS: data/paper_dataset
  PLEIADES:
      2022:
          "971": data/PLEIADES/2022/GUADELOUPE
          "972": data/PLEIADES/2022/MARTINIQUE
          "973": data/PLEIADES/2022/GUYANE
          "974": data/PLEIADES/2022/REUNION
          "976": data/PLEIADES/2022/MAYOTTE

      2020:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": data/PLEIADES/2020/MAYOTTE
      2019:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": data/PLEIADES/2019/MAYOTTE
      2018:
          "971": data/PLEIADES/2018/GUADELOUPE
          #"972": NA
          #"973": NA
          "974": data/PLEIADES/2018/REUNION
          #"976": NA
      2017:
          #"971": NA
          "972": data/PLEIADES/2017/MARTINIQUE
          #"973": NA
          #"974": NA
          "976": data/PLEIADES/2017/MAYOTTE

  NUAGESPLEIADES:
      2022:
          "971": data/NUAGESPLEIADES/2022/GUADELOUPE
          "972": data/NUAGESPLEIADES/2022/MARTINIQUE
          "973": data/NUAGESPLEIADES/2022/GUYANE
          "974": data/NUAGESPLEIADES/2022/REUNION
          "976": data/NUAGESPLEIADES/2022/MAYOTTE

      2020:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": data/NUAGESPLEIADES/2020/MAYOTTE
      2019:
          #"971": NA
          #"972": NA
          #"973": NA
          #"974": NA
          "976": data/NUAGESPLEIADES/2019/MAYOTTE
      2018:
          "971": data/NUAGESPLEIADES/2018/GUADELOUPE
          #"972": NA
          #"973": NA
          "974": data/NUAGESPLEIADES/2018/REUNION
          #"976":
      2017:
          #"971": NA
          "972": data/NUAGESPLEIADES/2017/MARTINIQUE
          #"973": NA
          #"974": NA
          "976": data/NUAGESPLEIADES/2017/MAYOTTE

  SENTINEL1:
    2021:
      "971": data/SENTINEL1/GUADELOUPE/TUILES_2021
      "972": data/SENTINEL1/MARTINIQUE/TUILES_2021
      "974": data/SENTINEL1/REUNION/TUILES_2021
      "976": data/SENTINEL1/MAYOTTE/TUILES_2021
    2022:
      "971": data/SENTINEL1/GUADELOUPE/TUILES_2022
      "972": data/SENTINEL1/MARTINIQUE/TUILES_2022
      "974": data/SENTINEL1/REUNION/TUILES_2022
      "976": data/SENTINEL1/MAYOTTE/TUILES_2022

  SENTINEL2:
    2021:
      "971": data/SENTINEL2/GUADELOUPE/TUILES_2021
      "972": data/SENTINEL2/MARTINIQUE/TUILES_2021
      "974": data/SENTINEL2/REUNION/TUILES_2021
      "976": data/SENTINEL2/MAYOTTE/TUILES_2021
    2022:
      "971": data/SENTINEL2/GUADELOUPE/TUILES_2022
      "972": data/SENTINEL2/MARTINIQUE/TUILES_2022
      "974": data/SENTINEL2/REUNION/TUILES_2022
      "973": data/SENTINEL2/GUYANE/TUILES_2022
      "976": data/SENTINEL2/MAYOTTE/TUILES_2022

  SENTINEL2-LABELS:
    2021:
      "971": data/SENTINEL2/GUADELOUPE/LABELS_2021
      "972": data/SENTINEL2/MARTINIQUE/LABELS_2021
      "974": data/SENTINEL2/REUNION/LABELS_2021
      "976": data/SENTINEL2/MAYOTTE/LABELS_2021
    2022:
      "971": data/SENTINEL2/GUADELOUPE/LABELS_2022
      "972": data/SENTINEL2/MARTINIQUE/LABELS_2022
      "974": data/SENTINEL2/REUNION/LABELS_2022
      "976": data/SENTINEL2/MAYOTTE/LABELS_2022

  SENTINEL1-2:
    2021:
      "971": data/SENTINEL1-2/GUADELOUPE/TUILES_2021
      "972": data/SENTINEL1-2/MARTINIQUE/TUILES_2021
      "974": data/SENTINEL1-2/REUNION/TUILES_2021
      "976": data/SENTINEL1-2/MAYOTTE/TUILES_2021
    2022:
      "971": data/SENTINEL1-2/GUADELOUPE/TUILES_2022
      "972": data/SENTINEL1-2/MARTINIQUE/TUILES_2022
      "974": data/SENTINEL1-2/REUNION/TUILES_2022
      "976": data/SENTINEL1-2/MAYOTTE/TUILES_2022

  BDTOPO:
      2021:
        "971": data/BDTOPO/2021/GUADELOUPE
        "972": data/BDTOPO/2021/MARTINIQUE
        "976": data/BDTOPO/2021/MAYOTTE
      2022:
          "971": data/BDTOPO/2022/BDTOPO_GUADELOUPE
          "972": data/BDTOPO/2022/BDTOPO_MARTINIQUE
          "973": data/BDTOPO/2022/BDTOPO_GUYANE
          "974": data/BDTOPO/2022/BDTOPO_REUNION
          "976": data/BDTOPO/2022/BDTOPO_MAYOTTE
      2020:
          "971": data/BDTOPO/2020/BDTOPO_GUADELOUPE
          "972": data/BDTOPO/2020/BDTOPO_MARTINIQUE
          "973": data/BDTOPO/2020/BDTOPO_GUYANE
          "974": data/BDTOPO/2020/BDTOPO_REUNION
          "976": data/BDTOPO/2020/BDTOPO_MAYOTTE
      2019:
          "971": data/BDTOPO/2019/BDTOPO_GUADELOUPE
          "972": data/BDTOPO/2019/BDTOPO_MARTINIQUE
          "973": data/BDTOPO/2019/BDTOPO_GUYANE
          "974": data/BDTOPO/2019/BDTOPO_REUNION
          "976": data/BDTOPO/2019/BDTOPO_MAYOTTE
      2018:
          "971": data/BDTOPO/2018/BDTOPO_GUADELOUPE
          "972": data/BDTOPO/2018/BDTOPO_MARTINIQUE
          "973": data/BDTOPO/2018/BDTOPO_GUYANE
          "974": data/BDTOPO/2018/BDTOPO_REUNION
          "976": data/BDTOPO/2018/BDTOPO_MAYOTTE
      2017:
          "971": data/BDTOPO/2017/BDTOPO_GUADELOUPE
          "972": data/BDTOPO/2017/BDTOPO_MARTINIQUE
          "973": data/BDTOPO/2017/BDTOPO_GUYANE
          "974": data/BDTOPO/2017/BDTOPO_REUNION
          "976": data/BDTOPO/2017/BDTOPO_MAYOTTE
      2016:
          "971": data/BDTOPO/2016/BDTOPO_GUADELOUPE
          "972": data/BDTOPO/2016/BDTOPO_MARTINIQUE
          "973": data/BDTOPO/2016/BDTOPO_GUYANE
          "974": data/BDTOPO/2016/BDTOPO_REUNION
          "976": data/BDTOPO/2016/BDTOPO_MAYOTTE
