sentinelhub
eo-learn
pre-commit
black
s3fs
py7zr
rasterio
torch
pytorch_lightning
albumentations
torchvision
mlflow
matplotlib
pyarrow
geopandas
earthengine-api
geemap
geedim
gdal==3.4.1
ee
satellite_image
